@import "tailwindcss";


body {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

#custom-font{
    font-family: 'Pacifico', cursive;
}



/* @layer base {
  body {
    @apply antialiased;
  }
} */

/* Custom scrollbar for dark mode */
.dark ::-webkit-scrollbar {
  width: 8px;
}

.dark ::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded-full;
}

.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
